* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #FFF;
  background: #ebf2f5;
}
button {
  outline: none;
}
body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}
.main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}